.box {
	border: 1px solid #000;
	width: 50rem;
	border-radius: 1rem;
	padding: 3rem;
}
.box .item-img {
	width: 40rem;
}
.main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.box_game {
	height: 100vh;
}
