.login_button {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.nav_section {
	display: flex;
	justify-content: center;
}

.menu_list {
	display: flex;
	gap: 4rem;
}

.menu_area {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 7rem;
}

.search_box {
	position: relative;
}
.search_box input {
	border: none;
	border-bottom: 1px solid #aaa;
	padding: 0 1rem;
}
.search_box svg {
	position: absolute;
	right: 0;
	bottom: 1.5rem;
}

.inner {
	max-width: 155rem;
	margin: 0 auto;
}
.container {
	margin-top: 80rem;
}

.img_box {
	height: 45rem;
	margin-bottom: 2rem;
	overflow: hidden;
	position: relative;
	width: 100%;
	cursor: pointer;
}

/* .img_box .img_wrap {
	padding-top: 63%;
} */

.img_box .img_wrap img {
	bottom: 0;
	height: 100%;
	left: 0;
	margin-bottom: 0.6rem;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
	width: 100%;
}
.img_box:hover img {
	transform: scale(1.1);
}
.login_button div {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.login_from {
	max-width: 75rem;
	margin: 0 auto;
	margin-top: 10rem;
}
.login_from .form-control {
	height: 5rem;
	font-size: 1.5rem;
}
.login_from .form-control::placeholder {
	font-size: 1.5rem;
}
.login_from .btn-danger {
	height: 5rem;
	font-size: 1.5rem;
	width: 10rem;
}
.login_from .form-check-label {
	font-size: 1.4rem;
}
.card {
	border: none;
}
