.login_button {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

.nav_section {
	display: flex;
	justify-content: center;
}

.menu_list {
	display: flex;
	gap: 4rem;
}

.menu_area {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 10rem;
}

.search_box {
	position: relative;
}
.search_box input {
	border: none;
	border-bottom: 1px solid #aaa;
}
.search_box svg {
	position: absolute;
	right: 0;
	bottom: 1.5rem;
}
